<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uoh.ems.dao.ExpertInfoMapper">

    <select id="selectMsg">
        select e.* s.SU_NAME
        from EXPERTINFO as e,SUBJECT_CODE as s
        <where>
              e.id = s.SU_CODE
            <if test="expert_name!null and expert_name!='' ">
                and expert_name like '%'|| #{expert_name}||'%'
            </if>
            <if test="expert_work_place!null and expert_work_place!='' ">
                and expert_work_place= #{expert_work_place}
            </if>
            <if test=" expert_title!null and  expert_title!='' ">
                and  expert_title=#{expert_title}
            </if>
        </where>
    </select>
    <select id="getExpertTitle" resultType="java.lang.String">
        SELECT DISTINCT (EXPERT_TITLE) FROM EXPERTINFO
    </select>
    <select id="getVisitPersons" resultType="java.lang.String">
        SELECT DISTINCT(EXPERT_NAME) FROM EXPERTINFO e JOIN  TEM_ES t ON e.E_ID = t.EXPERT_ID
        LEFT JOIN SUBJECT S on S.S_ID =T.SUBJECT_ID where S_CODE=10
    </select>
    <select id="getSpecialArea" resultType="java.lang.String">
        SELECT DISTINCT (S_NAME) FROM SUBJECT WHERE S_CODE>10
    </select>
    <select id="getExpertWorkPlace" resultType="java.lang.String">
        SELECT DISTINCT (EXPERT_WORK_PLACE) FROM  EXPERTINFO
    </select>
    <select id="getSubjectMsg" resultType="java.lang.String">
        SELECT DISTINCT (S_NAME) FROM SUBJECT WHERE S_ID > 1
    </select>
    <select id="getExpertSelfMsg" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT *FROM EXPERTINFO
    </select>
</mapper>
