<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uoh.ems.dao.ExpertInfoMapper">

    <select id="getExpertTitle" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT DISTINCT (EXPERT_TITLE), E_ID
        FROM EXPERTINFO
    </select>
    <select id="getVisitPersons" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT DISTINCT(EXPERT_NAME), e.E_ID
        FROM EXPERTINFO e
                 JOIN TEM_ES t ON e.E_ID = t.EXPERT_ID
                 LEFT JOIN SUBJECT S on S.S_ID = T.SUBJECT_ID
        where S_CODE = 2210
    </select>
    <select id="getExpertWorkPlace" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT DISTINCT (EXPERT_WORK_PLACE), E_ID
        FROM EXPERTINFO
    </select>
    <select id="getSubjectMsg" resultType="java.lang.String">
        SELECT DISTINCT (S_NAME), E_ID
        FROM SUBJECT
        WHERE S_ID > 1
    </select>
    <select id="getExpertSelfMsg" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT *
        FROM EXPERTINFO
    </select>
    <select id="getExpertPageData" resultType="com.uoh.ems.bean.ExpertInfo">
        SELECT e.*,s.S_CODE,s.S_NAME,s.S_COMMENT FROM EXPERTINFO e JOIN TEM_ES t ON
        e.E_ID = t.EXPERT_ID LEFT JOIN SUBJECT S on t.SUBJECT_ID = S.S_ID
        <where>
            <if test="expert.EXPERT_NAME!=null and expert.EXPERT_NAME!='' ">
                and e.EXPERT_NAME like '%'|| #{expert.EXPERT_NAME}||'%'
            </if>
            <if test="expert.EXPERT_WORK_PLACE!=null and expert.EXPERT_WORK_PLACE!='' ">
                and e.EXPERT_WORK_PLACE= #{expert.EXPERT_WORK_PLACE}
            </if>
            <if test=" expert.EXPERT_TITLE!=null and  expert.EXPERT_TITLE!='' ">
                and e.EXPERT_TITLE=#{expert.EXPERT_TITLE}
            </if>
            <if test=" expert.S_NAME!=null and  expert.S_NAME!='' ">
                and e.S_NAME =#{expert.S_NAME}
            </if>
            <if test=" expert.E_ID !=null and  expert.E_ID !='' ">
                and e.E_ID =#{id}
            </if>
            <if test=" expert.S_CODE!=null and  expert.S_CODE !='' ">
                and s.S_CODE=#{id}
            </if>
        </where>

    </select>

</mapper>
