<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uoh.ems.dao.SubjectMapper">
    <select id="getSubjectMsg" resultType="com.uoh.ems.bean.Subject">
        SELECT DISTINCT (S_NAME), S_CODE
        FROM SUBJECT
        WHERE S_ID > 1
    </select>
    <select id="getSpecialArea" resultType="com.uoh.ems.bean.Subject">
        SELECT S_NAME, S_CODE ,S_COMMENT
        FROM SUBJECT
        WHERE S_CODE > 2210
    </select>
</mapper>
