* {
    margin: 0;
    padding: 0;
}
html, body ,.containter{
    height: 100%;
    width: 100%;
}

.white{
    background-color: #fff;
    width: 100%;
    height: 35%;
}
.containter .white .icon{
    width: 100%;
    height: 70%;
    background-image: url(../img/user/3.png);
    background-repeat: no-repeat;
    background-size:140px;
    background-position: center;
}
.containter .white .text{
    width: 100%;
    height: 30%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #4d4d4d;
    font-family: '微软雅黑';
    margin-top: 5px;
}
.red{
    background: url(../img/user/2.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 65%;
    position: relative;
}
.containter .red .login-panel{
    background-color: #fff;
    width:800px;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow:  7px 7px 20px rgb(112, 105, 105) ;
}
.containter .red .form-group{
    width: 300px;
    height:50px;
    margin: auto;
    margin-bottom: 20px;
}
input[type="text"] ,input[type="password"]{
    width: 300px;
    height: 40px;
    line-height: 20px;
    font-size: 15px;
    color: #4d4d4d;
    font-family: "微软雅黑";
    /* 无边框 */
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

input:focus{
    outline: none;
}
.containter .red .login-panel .form-group .username{
    margin-top: 30px;
    background: url(../img/user/4.png);
    background-repeat: no-repeat;
    background-position-y:5px;
    background-size: 30px;
    padding-left: 40px;
}
.containter .red .login-panel .form-group .password{
    margin-top: 30px;
    background: url(../img/user/1.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y:4px;
    padding-left: 40px;
}
.form-group .login{
    background-color:#c52227;
    color: #fff;
    width: 340px;
    height:40px ;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #fff;
}
.containter .red .msg a{
    color: #c52227;
    position: absolute;
    left: 65%;
    top: 87%;
    font-size: 15px;
    text-decoration: none;
}



