<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="lib/bootstrap.min.css" type="text/css">
    <!-- <link rel="stylesheet" href="./index.css" type="text/css">F -->
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <script src="lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <title>index</title>
</head>

<script>
    //侧边栏查看更多
    function show_more(id1, id2) {
        $(id1).each(function (i, n) {
            if (i == 4) {
                $(this).nextAll('li').hide();
                return false
            }
        });
        $(id2).on("click",function () {
            var txt = $(id2).text()
            $(id1).each(function (i, n) {
                if (i == 4) {
                    $(this).nextAll('li').toggle(0, function () {
                        if (txt == '查看更多>>') {
                            $(id2).text('收起')
                        } else if (txt == '收起') {
                            $(id2).text('查看更多>>')
                        }

                    });
                }
            });
        });
    }

    // <#--  下一页查询数据-->
    function query(pageNum) {
        if (pageNum == null) {
            pageNum = $("#pageNum").text();
        }
        var pageSize = $("option:selected").val();
        $.ajax({
            url: "/IndexQuery",
            type: "POST",
            data: $('#advanced_search_form').serialize() + "&pageNum=" + pageNum + "&pageSize=" + pageSize,
            success: function (data) {
                //数据回显
                $('#pageData').html(data)
            }
        });
    }

    jQuery(function (){
    //侧边栏查看更多
        show_more("#nav-li-item-jigou li","#show_more-jigou");
        show_more("#nav-li-item-guwentuan li","#show_more-guwentuan");
        show_more("#nav-li-item-zhicheng li","#show_more_zhicheng");
        show_more("#nav-li-item-zhuanjialingyu li","#show_more-zhuanjialingyu");
    })
</script>

<script>
   jQuery(function () {
        //高级搜索面板隐藏
        $('#search-panel').hide();
        $("#advanced-search").on("click",function () {
            $('#search-panel').toggle();
        });

        //清空学科分类
        $('#clear_subject').on("click",function () {
            $("input[name='S_CODE']:checked").prop('checked', false);
        })

        //点击学科分类发请求
        $('input[name="S_CODE"]').on("click",function () {
            var S_CODE = [];
            $("input[name='S_CODE']:checked").each(function (i) {
                S_CODE[i] = $(this).val()
            })
            $.ajax({
                url: "/subjectQuery",
                type: "post",
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(S_CODE),
                success: function (data) {
                    $('#pageData').html(data)
                }
            });
        })

        //高级搜索面板请求
        $('.search-panel .search-btn').on("click",function () {
            $.ajax({
                url: "/IndexQuery",
                type: "post",
                data: $('#advanced_search_form').serialize(),
                success: function (data) {
                    $('#pageData').html(data)
                },
                error: function (data) {
                },
            });
        });

        /*姓名搜索请求，enter发起请求*/
        $("input[id='search_name']").on('keypress', function (e) {
            var keycode = e.keyCode;
            var pageSize = $("option:selected").val()
            if (keycode = '13') {
                // console.log($("input[id='search_name']").val())
                $.ajax({
                    url: "/IndexQuery",
                    type: "POST",
                    data: "EXPERT_NAME=" + $("#search_name").val() + "&pageSize=" + pageSize,
                    success: function (data) {
                        $('#pageData').html(data)
                    }
                });
            }
        });

        //每页显示多少条请求
        $('#pageSizeSelect').on("change", function () {
            var pageSize = $("option:selected").val()
            $.ajax({
                url: "/IndexQuery",
                type: "POST",
                data: "pageSize=" + pageSize,
                success: function (data) {
                    $('#pageData').html(data)
                }
            })
        })

        //清空输入框的值
        $('#search-panel .clear_btn').on("click",function () {
            $("td input[ name='EXPERT_NAME' ] ").val("");
            $("td input[ name='EXPERT_WORK_PLACE' ] ").val("");
            $("td input[ name='S_NAME' ] ").val("");
            $("td input[ name='EXPERT_TITLE' ] ").val("");
        });
    });


</script>


<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 " style="height:40px ;">
                    <span class=" col-md-4 col-md-offset-10 " style="line-height: 50px;">
                        <a href="/index" class="index" style="color: #db422a;">首页</a>
                        <a href="/user" style="color: black;">登录</a>
                    </span>
        </div>
        <div class="col-lg-12  background" style="height: 450px; position: relative;">
            <div class="col-md-2 col-md-offset-2 icon"></div>
            <div class="col-md-5  col-md-offset-1 text">
                红河州理论人才专家库系统
            </div>
        </div>
        <div class="col-lg-12" style="height: 50px; background-color: #f8f8f8 ;">
            <ul class="breadcrumb col-md-6" style="background-color: #f8f8f8;height: 50px;line-height: 35px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Index">${(indexShow)!""}</a>
                </li>

                <li>
                    <a href="#">${(indexMsg)!""}</a>
                </li>

            </ul>

            <div class="col-md-6" style=" height: 50px; position: relative;">
                <input type="text" class="col-md-6 search" name="EXPERT_NAME" id="search_name" placeholder="请输入学者姓名">
                <span id="advanced-search" class="advanced-search">高级搜索</span>
            </div>
        </div>
        <div class="divider col-lg-12" style="background-color: #e3e3e3;margin-top: 10px ;"></div>
        <div class="col-md-4  search-panel" id="search-panel">
            <div class="search-text">高级搜索</div>
            <form action="#" method="post" id="advanced_search_form">
                <table style="margin: auto;">
                    <tbody>
                    <tr>
                        <td>
                            <p>姓&emsp;&emsp;名</p>
                        </td>
                        <td><input type="text" name="EXPERT_NAME" id="expert_name"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>机&emsp;&emsp;构</p>
                        </td>
                        <td><input type="text" name="EXPERT_WORK_PLACE" id="expert_work_place"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>领&emsp;&emsp;域</p>
                        </td>
                        <td><input type="text" name="S_NAME" id="expert_profession"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>职&emsp;&emsp;称</p>
                        </td>
                        <td><input type="text" name="EXPERT_TITLE" id="expert_title"/></td>
                    </tr>
                    </tbody>
                </table>
                <input type="button" value="搜索" class="search-btn">
                <input type="button" value="清空" class="clear_btn">
            </form>
        </div>
        <div class="col-md-4" style="height: auto; border-right: 1px #e3e3e3 solid;">
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 10px;">
                <!-- partial:partials/_sidebar.ht2l -->
                <ul class="nav " style="border-bottom: 1px #e3e3e3 solid;">

                    <li class="nav-item" style="height:300px;margin-bottom: 10px;">
                        <div class="nav-link" href="#xuekefenlei" aria-expanded="false" aria-controls="ui-basic"
                             style="height: 75px;background-color: #db422a;">
                            <span class="menu-title col-lg-offset-5"
                                  style="height: 75px;color: #fff;font-size: 30px;font-family:'黑体';line-height: 75px;">学科分类</span>
                            <span class="col-md-offset-2"><input type="button" id="clear_subject" value="清空"></span>
                        </div>
                        <div class="collapse show" id="xuekefenlei" style="background-color:#fff;height: 225px;">
                            <ul class="nav flex-column sub-menu pre-scrollable "
                                style="height: 225px;background-color: #f6f6f6;">
                                <form method="post" id="subject">
                                    <#list SubjectMsg as su>
                                        <li class="nav-item col-md-offset-6 nav_item">
                                            <input type="checkbox" name="S_CODE"
                                                   value="${(su.s_CODE)!""}">${(su.s_NAME)!""}
                                        </li>
                                    </#list>
                                </form>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 10px;">
                <ul class="nav " style="border-bottom: 1px #e3e3e3 solid;">
                    <li class="nav-item" style="margin-bottom: 10px;">
                        <div class="nav-link" href="#guwentuan" aria-expanded="false" aria-controls="ui-basic"
                             style="height: 30px;">
                            <span class="menu-title col-lg-offset-6"
                                  style="height: 30px;line-height: 30px;">顾问团人员</span>
                        </div>
                        <div class="collapse show" id="guwentuan">
                            <ul class="nav flex-column sub-menu" id="nav-li-item-guwentuan">
                                <#list VisitPersonsMsg as v>
                                    <li class="nav-item col-md-offset-6 ">
                                        <a href="/IndexLeftQuery_${(v.e_ID)!""}"
                                           style="color: black;">${(v.EXPERT_NAME)!""}</a>
                                    </li>
                                </#list>
                                <div class="nav-item col-md-offset-6 col-md-6"
                                     style="background-color: #e3e3e3;height: 36px;">
                                    <p id="show_more-guwentuan" class="show_more"
                                       style="color: #db422a;text-align: center;height: 36px;line-height: 36px">查看更多&gt;&gt;</p>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 10px;">
                <ul class="nav " style="border-bottom: 1px #e3e3e3 solid;">
                    <li class="nav-item" style="margin-bottom: 10px;">
                        <div class="nav-link" href="#zhicheng" aria-expanded="false" aria-controls="ui-basic"
                             style="height: 30px;">
                            <span class="menu-title col-lg-offset-6" style="height: 30px;line-height: 30px;">职称</span>
                        </div>
                        <div class="collapse show" id="zhicheng">
                            <ul class="nav flex-column sub-menu " id="nav-li-item-zhicheng">
                                <#list ExpertTitleMsg as t>
                                    <li class="nav-item col-md-offset-6 "><a href="/IndexLeftQuery_${(t.e_ID)!""}"
                                                                             style="color: black;">${(t.EXPERT_TITLE)}</a>
                                    </li>
                                </#list>
                                <div class="nav-item col-md-offset-6 col-md-6"
                                     style="background-color: #e3e3e3;height: 36px;">
                                    <p id="show_more_zhicheng"
                                       style="color: #db422a;text-align: center;height: 36px;line-height: 36px">查看更多&gt;&gt;</p>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 10px;">
                <ul class="nav " style="border-bottom: 1px #e3e3e3 solid;">
                    <li class="nav-item" style="margin-bottom: 10px;">
                        <div class="nav-link" href="#zhuanyelingyu" aria-expanded="false" aria-controls="ui-basic"
                             style="height: 30px;">
                            <span class="menu-title col-lg-offset-6" style="height: 30px;line-height: 30px;">专业领域</span>
                        </div>
                        <div class="collapse show" id="zhuanyelingyu">
                            <ul class="nav flex-column sub-menu " id="nav-li-item-zhuanjialingyu">
                                <#list SpecialAreaMsg as sp>
                                    <#if sp.s_COMMENT??>
                                        <li class="nav-item col-md-offset-6 " name="profession"><a
                                                    href="${(sp.s_CODE)!""}"
                                                    style="color: black;">${(sp.s_COMMENT)!""}</a></li>
                                    <#else>
                                        <li class="nav-item col-md-offset-6 " name="profession"><a
                                                    href="/IndexLeftQuery_${(sp.s_CODE)!""}"
                                                    style="color: black;">${(sp.s_NAME)!""}</a>
                                        </li>
                                    </#if>
                                </#list>
                                <div class="nav-item col-md-offset-6 col-md-6"
                                     style="background-color: #e3e3e3;height: 36px;">
                                    <p id="show_more-zhuanjialingyu" class="show_more"
                                       style="color: #db422a;text-align: center;height: 36px;line-height: 36px">查看更多&gt;&gt;</p>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 10px;">
                <ul class="nav " style="border-bottom: 1px #e3e3e3 solid;">
                    <li class="nav-item" style="margin-bottom: 10px;">
                        <div class="nav-link" href="#jigou" aria-expanded="false" aria-controls="ui-basic"
                             style="height: 30px;">
                            <span class="menu-title col-lg-offset-6" style="height: 30px;line-height: 30px;">机构</span>
                        </div>
                        <div class="collapse show" id="jigou">
                            <ul class="nav flex-column sub-menu" id="nav-li-item-jigou">
                                <#list ExpertWorkPlace as w>
                                    <li class="nav-item col-md-offset-6 "><a href="/IndexLeftQuery_${(w.e_ID)!""}"
                                                                             style="color: black;">${(w.EXPERT_WORK_PLACE)!""}</a>
                                    </li>
                                </#list>
                                <div class="nav-item col-md-offset-6 col-md-6"
                                     style="background-color: #e3e3e3;height: 36px;">
                                    <p id="show_more-jigou" class="show_more"
                                       style="color: #db422a;text-align: center;height: 36px;line-height: 36px">查看更多&gt;&gt;</p>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            <section id="bottomLine" class="col-lg-10">

                <div id="pageData">
                    <#include 'index_list.html'>
                </div>

                <div class="col-lg-3" style="margin-top: -55px">
                    每页显示
                    <input type="hidden" id="pageSizeInput" value="" name="pageSize">
                    <select name="pageSize" id="pageSizeSelect">
                        <option id="pageSizeData">3</option>
                        <option id="pageSizeData">10</option>
                        <option id="pageSizeData">20</option>
                    </select>条数据
                </div>
            </section>
            <#--        -->
        </div>

    </div>
</div>
</div>

</div>

</div>
<div class="col-lg-12" style="background-color: #2a3a47;height: 50px;font-size:8px;margin-top: 3px">
    <p style="text-align: center;color: white;padding-top: 8px">
        <a style="color: white" href="#">关于xx</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">网站公约</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">网站声明</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">帮助中心</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">联系我们</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">常见问题</a>
        &nbsp;|&nbsp;
        <a style="color: white" href="#">网站地图</a>
    </p>
    <br>
    <p style="text-align: center;color: white">
        <a style="color: white" href="#">Copyright©</a>
        &nbsp;
        2013-现在
        &nbsp;
        <a style="color: white" href="#">千图网</a>
        &nbsp;
        <a style="color: white" href="#">沪ICP备10011451号-6</a>
        &nbsp;
        <a style="color: white" href="#">ICP证书:沪B2-20180057</a>
    </p>
</div>

</body>

</html>
